{
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^@angular/(.*)$",
    "^@semantic-components/(.*)$",
    "^@semantic-icons/(.*)$",
    "^[a-z]",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
