name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:

permissions:
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm i

      # - name: Lint
      #   run: npx nx run-many -t lint

      - name: Build
        run: npx nx run-many -t build

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps chromium

      - name: E2E tests
        run: npx nx run-many -t e2e

      - name: Upload Playwright report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: dist/.playwright/**/playwright-report/
          retention-days: 7
